table {
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    border-left: 3px solid rgb(255, 182, 39);
    border-right: 3px solid rgb(255, 182, 39);
    border-bottom: 3px solid rgb(255, 182, 39);
    width:70%;
}

#typeRow, th{
    background-color: rgb(255, 182, 39);
    color: rgb(248, 255, 229);
    text-align: center;
    padding: 1vw;
}

tr{
    border-top: 1px solid rgb(255, 182, 39);
    border-bottom: 1px solid rgb(255, 182, 39);
    background-color: rgb(95, 84, 73);
}

td{
    background-color: rgb(95, 84, 73);
    color: rgb(255, 182, 39);
    border-left: 1px solid rgb(255, 182, 39);
    border-right: 1px solid rgb(255, 182, 39);
    padding:5px;
}

.specialButton{
    background-color: rgb(248, 255, 229);
    color: rgb(95, 84, 73);
}

td > p, td > time{
    color: rgb(255, 182, 39);
}

td > a{
    color: rgb(248, 255, 229);
}

.tableButton{
    display:block;
    margin-left: auto;
    margin-right:auto;
}

.tableButton:hover{
    color:rgb(248, 255, 229);
}